:root {
  --bg: rgb(245, 245, 245);
  --text: rgb(0, 0, 0);
  --text_inverted: rgb(245, 245, 245);
  --notification_highlight: rgb(230, 230, 230);
  --notif_background: rgb(198, 198, 198);
  --shadow: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(18, 18, 18);
    --text: rgb(220, 220, 220);
    --text_inverted: rgb(50, 50, 50);
    --notification_highlight: rgb(220, 220, 220);
    --notif_background: rgb(178, 178, 178);
    --shadow: rgba(255, 255, 255, 0.2);
  }
}

body {
    background: var(--bg);
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 30px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

h1 {
    font-size: 3em;
    margin: 5px;
}

button, input {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.themed_text {
    color: var(--text);
}

.themed_padding {
    color: var(--bg);
}

p {
    font-size: 1.5em;
    margin: 5px;
}

header img {
    width: min(30em, 70%);
    height: min(30em, 70%);
    object-fit: cover;
    border-radius: 20%;
    display: block;
    margin: auto;
    box-shadow: 0 8px 0.25em var(--shadow);
}

.container {
    width: min(30em, 80%);
    margin: 0 auto;
}

.stacked-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}

@media (hover: hover) and (pointer: fine) {
    .stacked-buttons button {
        width: 100%;
        font-family: 'Rubik', sans-serif;
        padding: 0.25em;
        font-size: 2em;
        font-weight: bold;
        border: none;
        border-radius: 0.5em;
        background-color: rgb(250, 217, 56);
        color: var(--text_inverted);
        cursor: pointer;
        box-shadow: 0 3px 0.25em var(--shadow);
        transition: transform 0.2s ease-out, background-color 0.1s ease-out;
    }

    .stacked-buttons button:hover {
        transform: scale(1.05);
        background-color: rgb(120, 216, 230);
        transition-duration: 0.2s;
    }
}

@media (hover: none) and (pointer: coarse) {
    .stacked-buttons button {
        width: 100%;
        font-family: 'Rubik', sans-serif;
        padding: 0.25em;
        font-size: 2em;
        font-weight: bold;
        border: none;
        border-radius: 0.5em;
        background-color: rgb(250, 217, 56);
        color: var(--text_inverted);
        cursor: pointer;
        box-shadow: 0 3px 0.25em var(--shadow);
        transition: transform 0.5s ease-out, background-color 0.5s ease-out;
    }

    .stacked-buttons button:active {
        transform: scale(0.95);
        background-color: rgb(120, 216, 230);
        transition-duration: 0.2s;
    }
}

.custom-input-form {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.custom-input-form input {
    flex: 1;
    font-family: 'Rubik', sans-serif;
    padding: 0.25em;
    font-size: 2em;
    font-weight: bold;
    width: 90px;
    text-align: center;
    border-width: 6px;
    border-radius: 0.5em;
    border-color: var(--text);
    background-color: var(--bg);
    color: var(--text);
    cursor: text;
    box-shadow: 0 3px 0.25em var(--shadow);
    transition: background 0.3s;
}

@media (hover: hover) and (pointer: fine) {
    .custom-input-form button {
        font-family: 'Rubik', sans-serif;
        padding: 0.25em 0.5em;
        font-size: 2em;
        font-weight: bold;
        border: none;
        border-radius: 0.5em;
        background-color: rgb(250, 217, 56);
        color: var(--text_inverted);
        cursor: pointer;
        box-shadow: 0 3px 0.25em var(--shadow);
        transition: transform 0.2s ease-out, background-color 0.1s ease-out;
    }

    .custom-input-form button:hover {
        transform: scale(1.05);
        background-color: rgb(120, 216, 230);
        transition-duration: 0.2s;
    }
}

@media (hover: none) and (pointer: coarse) {
    .custom-input-form button {
        font-family: 'Rubik', sans-serif;
        padding: 0.25em 0.5em;
        font-size: 2em;
        font-weight: bold;
        border: none;
        border-radius: 0.5em;
        background-color: rgb(250, 217, 56);
        color: var(--text_inverted);
        cursor: pointer;
        box-shadow: 0 3px 0.25em var(--shadow);
        transition: transform 0.5s ease-out, background-color 0.5s ease-out;
    }

    .custom-input-form button:active {
        transform: scale(0.95);
        background-color: rgb(120, 216, 230);
        transition-duration: 0.2s;
    }
}

.cancel-button {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}

@media (hover: hover) and (pointer: fine) {
    .cancel-button button {
        width: 100%;
        font-family: 'Rubik', sans-serif;
        padding: 0.25em;
        font-size: 2em;
        font-weight: bold;
        border: none;
        border-radius: 0.5em;
        background-color: rgb(228, 98, 86);
        color: var(--text_inverted);
        cursor: pointer;
        box-shadow: 0 3px 0.25em var(--shadow);
        transition: transform 0.2s ease-out, background-color 0.1s ease-out;
    }

    .cancel-button button:hover {
        transform: scale(1.05);
        background-color: rgb(221, 48, 32);
        transition-duration: 0.2s;
    }
}

@media (hover: none) and (pointer: coarse) {
    .cancel-button button {
        width: 100%;
        font-family: 'Rubik', sans-serif;
        padding: 0.25em;
        font-size: 2em;
        font-weight: bold;
        border: none;
        border-radius: 0.5em;
        background-color: rgb(228, 98, 86);
        color: var(--text_inverted);
        cursor: pointer;
        box-shadow: 0 3px 0.25em var(--shadow);
        transition: transform 0.5s ease-out, background-color 0.5s ease-out;
    }

    .cancel-button button:active {
        transform: scale(0.95);
        background-color: rgb(221, 48, 32);
        transition-duration: 0.2s;
    }
}

.notifications {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: var(--notification_highlight);
    border: none;
    border-radius: 0.75em;
    box-shadow: 0 5px 0.25em var(--shadow);
}

.notifications h1 {
    font-size: 1.2em;
    margin: 5px;
    padding: 0.25em;
    background-color: rgb(59, 59, 59);
    color: var(--notification_highlight);
    border: none;
    border-radius: 0.5em;
}

.notif {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0.75em;
    margin: 0 5px 5px 5px;
    background-color: var(--notif_background);
    border-radius: 0.5em;
}

.notif_data {
    font-size: 1em;
    text-align: left;
    padding-right: 1em;
    color: rgb(59, 59, 59);
}

.notif_age {
    width: 2em;
    padding-left: 0;
    font-size: 1em;
    color: rgb(124, 124, 124);
    text-align: right;
}

@media (hover: hover) and (pointer: fine) {
    .instance_tag {
        position: fixed;
        top: -10em;
        right: 50%;
        transform: translateX(50%);
        background-color: rgb(250, 217, 56);
        border-radius: 0px 0px 0.5em 0.5em;
        padding: 10.3em 1em 0.3em 1em;
        box-shadow: 0 3px 0.25em var(--shadow);
        z-index: 10;
        transition: background-color 0.1s ease-out;

        white-space: normal;
        overflow-wrap: anywhere;
        word-wrap: break-word;
    }

    .instance_tag:hover {
        background-color: rgb(120, 216, 230);
        transition-duration: 0.2s;
    }
}

@media (hover: none) and (pointer: coarse) {
    .instance_tag {
        position: fixed;
        top: 0px;
        right: 50%;
        transform: translateX(50%);
        max-width: calc(9.5em + 5px);
        background-color: rgb(250, 217, 56);
        border-radius: 0px 0px 0.5em 0.5em;
        padding: 0.3em 1em 0.3em 1em;
        box-shadow: 0 3px 0.25em var(--shadow);
        z-index: 10;
        transition: background-color 0.5s ease-out;

        white-space: normal;
        overflow-wrap: anywhere;
        word-wrap: break-word;
    }

    .instance_tag:active {
        background-color: rgb(120, 216, 230);
        transition-duration: 0.2s;
    }
}

.instance_id {
    font-size: 1em;
    color: var(--text_inverted);
}

.exclusions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: var(--notification_highlight);
    border: none;
    border-radius: 0.75em;
    box-shadow: 0 5px 0.25em var(--shadow);
}

.exclusions h1 {
    font-size: 1.2em;
    margin: 5px;
    padding: 0.25em;
    background-color: rgb(59, 59, 59);
    color: var(--notification_highlight);
    border: none;
    border-radius: 0.5em;
}

.exclusions-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
}

@media (hover: hover) and (pointer: fine) {
    .exclusion {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 5px 0.25em;
        margin: 0 5px 5px 5px;
        background-color: rgb(250, 217, 56);
        border-radius: 0.5em;
        font-size: 1em;
        font-weight: bold;
        color: var(--text_inverted);
        text-align: center;
        padding-right: 1em;
        border-width: 0px;
        cursor: pointer;
        transition: transform 0.2s ease-out, background-color 0.1s ease-out;
    }

    .exclusion:hover {
        transform: scale(0.98);
        transition-duration: 0.2s;
    }
}

@media (hover: none) and (pointer: coarse) {
    .exclusion {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 5px 0.25em;
        margin: 0 5px 5px 5px;
        background-color: var(--notif_background);
        border-radius: 0.5em;
        font-size: 1em;
        font-weight: bold;
        color: var(--text_inverted);
        text-align: center;
        padding-right: 1em;
        border-width: 0px;
        cursor: pointer;
        transition: transform 0.5s ease-out, background-color 0.5s ease-out;
    }

    .exclusion:active {
        transform: scale(0.95);
        transition-duration: 0.2s;
    }
}

.exclusion.active {
    background-color: rgb(228, 98, 86);
    color: var(--notification_highlight);
}

.exclusion.inactive {
    background-color: var(--notif_background);
    color: rgb(59, 59, 59);
}