adbutils
apscheduler
beautifulsoup4
curl-cffi
easyocr
flask
lxml
nltk
numpy
opencv-python
pillow
portalocker
pure-python-adb
pyinstaller
pyminitouch
pywebview
psutil
rapidfuzz
requests
scipy
uiautomator2